.header {
    width: 100%;
    min-height: 60px;
    padding: 8px;
    border-bottom: 2px solid #f44336;

    background-color: black;
    font-size: 24px;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    gap: 15px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.header > a {
    text-decoration: none;
    color: #b71c1c;
    font-size: 32px;
    font-weight: 500;
}

.header > nav {
    width: 360px;

    gap: 4px;
    display: flex;
    justify-content: space-between;
}

.header > nav > a {
    color: white;
    padding: 5px 12px;
    font-size: 18px;
    border-radius: 4px;
    text-decoration: none;
}

.header > nav > a:hover {
    background-color: #f44336;
    transition: all .6s;
}