.footer {
    width: 100%;
    padding: 12px;
    text-align: center;
    border-top: 2px solid #f44336;

    color: white;
    background-color: black;

    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
}